
.back{
    background: linear-gradient(to right, rgb(22,22,22), rgb(15,15,15))
}

/*style = {{background:"rgb(22, 22, 22)"}}*/

.bookT{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 10px;
}